@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  background-color: #0B0C10;
}

.header{
  background-color: #030304;
  
}

.card{
  background-color: #1F2833;
}

.heading{
  color: #66FCF1;
  font-size: 50px;
  font-weight: 700;
}

.sub-heading{
  color: #C5C6C7;
  font-size: 40px;
  font-weight: 500;
}

.text{
  color: #C5C6C7;
}

.navbar-text{
  color: #45A29E;
}

.navbar-sub-text{
  color: #C5C6C7;
}

.navbar-text:hover{
  color: #66FCF1;
}

.navbar-sub-text:hover{
  color: #94979b;
}

.screen{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

