@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-text {
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.glow-text:hover {
  text-shadow: 0 0 8px #0B0C10, 0 0 16px #66FCF1, 0 0 32px #66FCF1;
  color: #C5C6C7;
}


.background{
  background-color: #0B0C10;
}

.header{
  background-color: #030304;
  
}

.card{
  background-color: #1F2833;
}

.heading{
  color: #66FCF1;
  font-size: 50px;
  font-weight: 700;
}

.sub-heading{
  color: #C5C6C7;
  font-size: 40px;
  font-weight: 500;
}

.text{
  color: #C5C6C7;
}

.navbar-text{
  color: #45A29E;
}

.navbar-sub-text{
  color: #C5C6C7;
}

.navbar-text:hover{
  color: #66FCF1;
}

.navbar-sub-text:hover{
  color: #94979b;
}

